@import url(base.css);
.f1{width: 100%;height: 35px;background:#f5f5f5;border-bottom: 1px solid #EEE;}
.f1-inner{width: 1190px;height: 35px;margin: 0 auto;line-height: 35px;font-size: 12px;}
.f1-inner a{color: #666;}
.f1-inner a:hover{color: #f60;text-decoration: underline;}
.f1-inner-left{width: 147px;height: 35px;float: left;}
.f1-inner-right{width: 661px;height: 35px;float: right;}
.f1-inner-wang{width: 85px;height: 35px;float: left;}
.f1-inner-wang a{padding: 0 10px;}
.f1-inner-xiao{width:62px;height: 35px;float: right;}
.f1-inner-xiao a{padding: 0 10px;}
.f1-denglu{width: 81px;height: 35px;float: left;}
.f1-denglu:hover{background: #eee}
.f1-zhuce span{padding: 0 10px}
.f1-dingdan{width: 83px;height: 35px;float: left;}
.f1-dingdan a{padding: 0 10px;}
.f1-yigou{width: 83px;height: 35px;float: left;}
.f1-yigou a{padding: 0 10px;}
.f1-gouwu{width: 95px;height: 35px;float: left;text-align: center;}
.f1-gouwu a{text-align: center;font-size: 14px;font-weight: 700;color: #333}
.f1-shouji{width: 95px;height: 35px;float: left;text-align: center;}
.f1-kehu{width: 83px;height: 35px;float: right;}

.f1-yifu{padding: 0 10px;float: left;}
/*f2*/
.f2{width: 100%;height: 100px;}
.f2-inner{width: 1190px;height: 100px;margin: 0 auto;}
.f2-inner img{float: left;}
.f2-inner-middle{width: 600px;height: 100px;float: left;}
.f2-inner-middle-nei{width: 600px;height: 61px;margin: 28px 0 0 ;}
/*f2 input*/
.f2-input{width: 496px;height: 34px;float: left;border: 2px solid #fa0;display: inline;overflow: hidden;float: left;}
.f2-btn{width: 458px;height: 18px;margin-top: 0px;padding: 8px 10px 8px 0px;border: medium none;padding-left: 30px;color:rgb(204, 204, 204);}
.f2-btn1{width:98px;height: 38px;background: #FA0;font-size: 16px;color: #fff;letter-spacing: 7px;font-weight: bold;padding: 0px 30px;border: 0px none;float: right;float: left;cursor: pointer;}
.f2-btn1:hover{background: #f80}
 /*小天鹅*/
    .f2-xiaotiane{width: 600px;height: 18px;margin-top: 5px;}
.f2-xiaotiane a{font-size: 12px;color: #999;margin-right: 6px;}
/*右图*/
.f2-inner .f2-tu{float: right;}
/*f3开始*/
.f3{width: 100%;height: 36px;border-bottom: 2px solid #333;}
.f3-nei{width: 1190px;height: 36px;margin: 0 auto;overflow: hidden;}
.f3-nei-left{width: 190px;height: 36px;background: #fa0;float: left;font-size: 14px;line-height: 36px;font-weight: bold;}
.f3-nei-left a:hover{text-decoration: underline;}

.f3-nei-left a{margin-left: 33px;color: #fff}
.f3-nei-middle{width:769px;height: 36px;float: left;font-size: 14px;padding-left: 10px;font-size: 15px;margin-left: 107px;position: relative;}

.f3-suning{height: 36px;padding: 0px 12px 0px 13px;line-height: 36px;float: left;}
.f3-suning1{height: 16px;width: 16px;overflow: hidden;background:transparent url("../img/beijing.png") no-repeat scroll 0 -205px;float: left;z-index: 10;margin: 4px 2px 0;}
.f3-suning2{float: left;}
.f3-suning a{font-size: 15px;color: #333;float: left;}
.f3-nei-right a{font-size: 12px;color: #f90;line-height: 36px}
.f3-suning3{height: 16px;width: 16px;overflow: hidden;background:transparent url("../img/beijing.png") no-repeat scroll -16px -205px;float: left;z-index: 10;margin: 4px 2px 0;}
.f3-suning4{float: left;}
.f3-nei-middle a:hover{color:#f60;text-decoration: underline;}
/*f3-right*/
.f3-nei-right{width: 104px;height: 36px;float: left;}
.f3-nei-right a:hover{text-decoration: underline;}
/*f4*/
.f4{width: 100%;height: 450px;background:#E82341;font-size: 0}
.f4-nei{width: 1190px;height: 450px;margin: 0 auto;position: relative;background:#E82341}
.f4-nei img{margin-left: 210px;}
.f4-left{width: 190px;height: 450px;background: #2b2b2b;position: absolute;left:0px; top: 0 ;}
.f4-left1{width: 180px;height: 32px;background: #2b2b2b;line-height: 32px;border-top: 1px solid #333;border-bottom: 1px solid #252525;padding-left: 10px;}
.f4-left1:hover a{color: #000;}
.f4-left1 a:hover{text-decoration: underline;}
.f4-left1:hover{background: #fff;}

.f4-left1 a{margin-left: 8px;font-size: 13px;color: #fff;display: block;float: left;}
.f4-right{width: 190px;height: 430px;background:#fff;position: absolute;top:10px;right:0px;border-bottom: 1px solid #EEE;}

.f4-right1{width: 190px;height: 41px;font-size: 14px;border-bottom: 1px solid #EEE;float: left;}
.f4-right-a{width: 16px;height: 16px;margin-right: 8px;background: transparent url("../img/beijing2.png") repeat scroll 0px -31px;margin-top: 13px;margin-left: 14px;float: left;display: inline;}
.f4-right1 span{line-height: 41px;color: #333;float: left;}
.f4-right1 a{font-size: 12px;float: right;line-height: 41px;color: #666;margin-right: 10px;}
.f4-right1 a:hover{color: #f60;text-decoration: underline;}
.f4-right2{width: 190px;height: 155px;background:#FDE7E8;float: left;}
.f4-right2-1{height: 18px;line-height: 18px;margin: 10px 10px 9px 15px;}
.f4-right2-1 a{font-size: 12px;color: #666;}

.f4-right3{width: 190px;height: 41px;font-size: 14px;border-bottom: 1px solid #EEE;float: left;}
.f4-right3 span{line-height: 41px;color: #333;margin-left: 14px;}
.f4-right2-1 a:hover{color: #f60}
.f4-dapai:hover{text-decoration: underline;}
.f4-right4{width: 190px;height:191px;background:#FDE7E8;float: left;text-align: center;}
.f4-right4-1{width: 62px;height: 62px;background:FDE7E8;line-height: 62px;float: left;border-right: 1px solid #EEE;border-bottom: 1px solid #EEE;}
.f4-right4-1 a{font-size: 12px;color: #666}
.f4-right4-1 a:hover{color: #f60}
/*middle*/
.f4-middle{width: 800px;height: 40px;position: absolute;left:200px;bottom:10px;}
.f4-middle-1{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0}
.f4-middle-1-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;}
.f4-middle a{font-size: 12px;color: #fff}

.f4-middle-2{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0;left: 72px}
.f4-middle-2-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;left: 72px;}

.f4-middle-3{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0;left: 144px}
.f4-middle-3-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;left:144px;}

.f4-middle-4{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0;left: 216px}
.f4-middle-4-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;left: 216px;}

.f4-middle-5{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0;left: 288px}
.f4-middle-5-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;left: 288px;}

.f4-middle-6{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0;left: 360px}
.f4-middle-6-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;left: 360px;}

.f4-middle-7{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0;left: 432px}
.f4-middle-7-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;left:432px;}

.f4-middle-8{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0;left: 504px}
.f4-middle-8-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;left:504px;}

.f4-middle-9{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0;left: 576px}
.f4-middle-9-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;left:576px;}
.f4-middle-10{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0;left:648px}
.f4-middle-10-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;left:648px;}

.f4-middle-11{margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;opacity: 0.6;background:#000;width: 71px;height: 40px;position: absolute;top: 0;left: 720px}
.f4-middle-11-a{width: 71px;height: 40px;margin-left: 1px;float: left;font-weight: normal;line-height: 40px;text-align: center;cursor: default;position: absolute; top:0;left:720px;}

/*f5*/
.f5{width: 1190px;height: 440px;margin: 0 auto;margin-top: 20px;}
.f5-tese{width: 190px;height: 40px;float: left;}
.f5-tese a{float: left;font: bold 20px "microsoft yahei" ;color:#000;line-height: 40px;}
.f5-tese h4{float: left;padding-left: 6px;font-size: 12px;line-height:40px;color: #222}
.juhui{width: 420px;height: 400px;float: left;margin-top: 20px;font-size: 0}
.juhui img{width: 400px;float: left;height: 210px;}
.juhui1{width: 420px;height: 210px;}
.f5-juhui-tubiao{width: 20px;height: 20px;background: #FE7C1E url("../img/f5-sanjiao.png") no-repeat scroll 0% 0%;float: right;}

.juhui2{width: 420px;height: 190px;float: left;}
.juhui2 img{width: 400px;height: 190px;}
/*闪拍*/
.f5-shanpai{width: 398px;height: 380px;float: left;position: relative;border: 1px solid #EEE;margin-top: 39px;margin-left: -20px;font-size: 0 }
.f5-hengxian{position: absolute;top: 189px;left: 15px;width: 368px;height: 1px;background: #EEE none repeat scroll 0% 0%;}
.f5-shuxian{position: absolute;top: 15px;
left: 199px;width: 1px;height: 348px;background: #EEE none repeat scroll 0% 0%;}
.f5-tu1{width: 199px;height: 189px;background: green;float: left;}
.f5-tu1 img{width: 199px;height: 189px;float: left;}
/*右边*/
.f5-right{width: 198px;height: 380px;float: right;margin-top: 40px;font-size: 0}
.f5-right-1{width: 198px;height: 94px;border: 1px solid #EEE;}
.f5-right-1 img{width: 198px;height: 94px;}

.f5-tese-bottom{border: 1px solid #EEE;overflow: hidden;width: 188px;background: green;width: 188px;height: 378px;}
.f5-left{height: 420px;width: 190px;float: left;}
.f5-right-1 img{width: 197px;height: 94px;}

/*f6*/

.f6{width: 1190px;height: 280px;margin: 0 auto;}

.f6-nei{width: 1190px;height: 40px;}

.f6-nei a{float: left;font: bold 20px "microsoft yahei" ;color:#000;line-height: 40px;}
.f6-nei h4{float: left;padding-left: 6px;font-size: 12px;line-height:40px;color: #222}
/*f6-bottom*/
.f6-bottom{width: 1190px;height: 240px;font-size: 0;background: #f8f8f8}
.f6-bottom-left{width: 190px;height: 240px;float: left;}
.f6-bottom-left1{width: 400px;height: 240px;float: left;}
.f6-bottom-left2{width: 410px;height: 240px;background: #f8f8f8;float: left;}
.f6-bottom-left2-a{display: inline;float: left;width:188px;height: 218px;margin-left: 10px;border: 1px solid #EEE;margin-top: 10px;}
.f6-bottom-left2-a img{width: 188px;height: 218px;}


.f6-bottom-left3{width: 180px;height: 240px;float: left;background: #f8f8f8}
.f6-bottom-left3-a{display: inline;float: left;width: 178px;height: 103px;margin-top: 10px;border: 1px solid #EEE;}
.f6-bottom-left3-a img{width: 177px;height: 103px;}
/*f7*/
.f7{width: 1190px;height: 489px;margin: 0 auto;margin-top: 25px;}
.f7-top{width: 1190px;height: 48px;border-bottom: 1px solid #ff6b80}

.f7-top-1{width: 190px;height: 48px;float: left;line-height: 48px}
.f7-top-1 h3{color: #222;padding-right: 8px;}

.f7-top-2{width: 237px;height: 37px;;float: left;line-height: 37px;;margin-top: 12px;}
.f7-top-2-a{width: 60px;height: 35px;float: left;margin-right: 50px;}
.f7-top-2-a a{color: #222;font-weight: bold;font-size: 14px;}
.f7-top-2-a:hover{border-bottom: 3px solid #ff6b80;color: #000}

.f7-top-2-b{width: 83px;height: 35px;float: left;}
.f7-top-2-b a{color: #666;font-size: 14px;float: left;}
.f7-top-2-b img{margin-top: 7px;float: left;margin-left: 4px;}
.f7-top-2-b:hover{border-bottom: 3px solid #ff6b80;color: #000}

.f7-top-3{width: 750px;height: 30px;float: left;line-height: 30px;margin-top: 18px;text-align: right;}
.f7-top-3 a{font-size: 12px;margin-left: 16px;color: #666;}
.f7-top-3 a:hover{text-decoration: underline;color: :#FF6636;}
/*f7bottom*/
.f7-bottom{width: 1190px;height: 440px;}
.f7-bottom-left{width: 190px;height: 440px;background:#FFD4C1;float: left;position: relative;font-size: 0}

.f7-dingwei{width: 175px;height: 61px;position: absolute;top: 209px;left: 10px;text-align: center;}

.f7-dingwei-1a{width: 85px;height: 30px;background: #D8595E;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 0;}
.f7-dingwei1{width: 85px;height: 30px;line-height: 30px;position: absolute;left: 0;top: 0;}

.f7-dingwei-2a{width: 85px;height: 30px;background: #D8595E;line-height: 30px;opacity: 0.6;position: absolute;left: 86px;top: 0;}
.f7-dingwei2{width: 85px;height: 30px;line-height: 30px;position: absolute;left:86px;top: 0;}

.f7-dingwei-3a{width: 85px;height: 30px;background: #D8595E;line-height: 30px;opacity: 0.6;position: absolute;left: 0px;top: 31px;}
.f7-dingwei3{width: 85px;height: 30px;line-height: 30px;position: absolute;left:0px;top: 31px;}

.f7-dingwei-4a{width: 85px;height: 30px;background: #D8595E;line-height: 30px;opacity: 0.6;position: absolute;left: 86px;top: 31px;}
.f7-dingwei4{width: 85px;height: 30px;line-height: 30px;position: absolute;left:86px;top: 31px;}
.f7-dingwei a{font-size: 12px;color: #fff}
.f7-dingwei1{font-size: 12px;color: #fff}
.f7-dingwei1:hover{background:rgba(252,92, 102, 0.5) none repeat scroll 0% 0%;}
.f7-dingwei2:hover{background:rgba(252,92, 102, 0.5) none repeat scroll 0% 0%;}
.f7-dingwei3:hover{background:rgba(252,92, 102, 0.5) none repeat scroll 0% 0%;}
.f7-dingwei4:hover{background:rgba(252,92, 102, 0.5) none repeat scroll 0% 0%;}
/*f7-top-tu*/

.f7-bottom-tu{width: 170px;height: 159px;float: left;background:#fff;padding-top: 2px;font-size: 12px;margin-left: 10px;display: inline;font-size: 0}
.f7-bottom-tu1{width: 84px;height: 52px;background:#fff;float: left;border-bottom: 1px solid #EEE;border-right: 1px solid #EEE;}
.f7-bottom-tu1 img{width: 80px;height: 30px;margin: 11px 2px;}




.f7-bottom-right{width: 999px;height: 440px;float: left;border-right: 1px solid #EEE;}
.f7-bottom-right-a{width: 999px;height: 209px;border-bottom: 1px solid #EEE;padding-top: 10px;overflow: hidden;}
.f7-bottom-right-b{width: 999px;height: 210px;padding-top: 10px;display: inline;}
.f7-bottom-right-a1{float: left;width:189px;height: 198px;padding: 0px 5px;border-right: 1px solid #EEE;text-align: center;font-size: 0;}
.f7-bottom-right-a1 a{font-size: 12px;color: #666;margin-top: 19px;display: block}
.f7-bottom-right-a1 span{height: 25px;font-size: 21px;font-weight: bold;width: 189px;}
.f7-bottom-right-a1-tu{width: 189px;height: 120px;}
.f7-bottom-right-a1 a:hover{text-decoration:underline #f60;color: #f60}
.f7-bottom-right-a1-tu img:hover{opacity: 0.8}
/*f7 横条*/
.f7-hengtiao{width: 1190px;height: 100px;margin: 0 auto;margin-top: 20px;}
/*f8 定位*/
.f8-dingwei-1a{width: 85px;height: 30px;background: #67B7FA;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 0;}
.f8-dingwei1{width: 85px;height: 30px;line-height: 30px;position: absolute;left: 0;top: 0;}

.f8-dingwei-2a{width: 85px;height: 30px;background: #67B7FA;line-height: 30px;opacity: 0.6;position: absolute;left: 86px;top: 0;}
.f8-dingwei2{width: 85px;height: 30px;line-height: 30px;position: absolute;left:86px;top: 0;}

.f8-dingwei-3a{width: 85px;height: 30px;background: #67B7FA;line-height: 30px;opacity: 0.6;position: absolute;left: 0px;top: 31px;}
.f8-dingwei3{width: 85px;height: 30px;line-height: 30px;position: absolute;left:0px;top: 31px;}

.f8-dingwei-4a{width: 85px;height: 30px;background: #67B7FA;line-height: 30px;opacity: 0.6;position: absolute;left: 86px;top: 31px;}
.f8-dingwei4{width: 85px;height: 30px;line-height: 30px;position: absolute;left:86px;top: 31px;}
.f8-dingwei a{font-size: 12px;color: #fff}
.f8-dingwei1{font-size: 12px;color: #fff}
.f8-dingwei1:hover{background:rgba(74,171, 248, 0.5) none repeat scroll 0% 0%;}
.f8-dingwei2:hover{background:rgba(74,171, 248, 0.5) none repeat scroll 0% 0%;}
.f8-dingwei3:hover{background:rgba(74,171, 248, 0.5) none repeat scroll 0% 0%;}
.f8-dingwei4:hover{background:rgba(74,171, 248, 0.5) none repeat scroll 0% 0%;}

/*f9*/
.f9-dingwei-1a{width: 85px;height: 30px;background: #9BC03C;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 31px;}
.f9-dingwei1{width: 85px;height: 30px;line-height: 30px;position: absolute;left: 0;top:31px;}

.f9-dingwei-2a{width: 85px;height: 30px;background: #9BC03C;line-height: 30px;opacity: 0.6;position: absolute;left: 86px;top: 31px;}
.f9-dingwei2{width: 85px;height: 30px;line-height: 30px;position: absolute;left:86px;top:31px;}

.f9-dingwei a{font-size: 12px;color: #fff}
.f9-dingwei1{font-size: 12px;color: #fff}
.f9-dingwei1:hover{background:rgba(170,211,33,0.5) none repeat scroll 0% 0%;}
.f9-dingwei2:hover{background:rgba(170,211,33,0.5) none repeat scroll 0% 0%;}
/*f10*/
.f10-dingwei-1a{width:85px;height: 30px;background: #FDA921;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 0px;}
.f10-dingwei1{width:85px;height: 30px;line-height: 30px;position: absolute;left: 0;top:0px;}

.f10-dingwei-2a{width: 85px;height: 30px;background: #FDA921;line-height: 30px;opacity: 0.6;position: absolute;left: 86px;top: 0;}
.f10-dingwei2{width: 85px;height: 30px;line-height: 30px;position: absolute;left:86px;top: 0;}

.f10-dingwei-3a{width: 85px;height: 30px;background: #FDA921;line-height: 30px;opacity: 0.6;position: absolute;left: 0px;top: 31px;}
.f10-dingwei3{width: 85px;height: 30px;line-height: 30px;position: absolute;left:0px;top: 31px;}

.f10-dingwei-4a{width: 85px;height: 30px;background: #FDA921;line-height: 30px;opacity: 0.6;position: absolute;left: 86px;top: 31px;}
.f10-dingwei4{width: 85px;height: 30px;line-height: 30px;position: absolute;left:86px;top: 31px;}
.f10-dingwei a{font-size: 12px;color: #fff}
.f10-dingwei1{font-size: 12px;color: #fff}
.f10-dingwei1:hover{background:rgba(248,155,0,0.5) none repeat scroll 0% 0%;}
.f10-dingwei2:hover{background:rgba(248,155,0, 0.5) none repeat scroll 0% 0%;}
.f10-dingwei3:hover{background:rgba(248,155,0, 0.5) none repeat scroll 0% 0%;}
.f10-dingwei4:hover{background:rgba(248,155,0, 0.5) none repeat scroll 0% 0%;}
/*11*/
.f11-dingwei-1a{width:170px;height: 30px;background: #FC755E;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 31px;}
.f11-dingwei1{width:170px;height: 30px;line-height: 30px;position: absolute;left: 0;top:31px;}
.f11-dingwei1 a{font-size: 12px;color: #fff}
.f11-dingwei1:hover{background:rgba(250,93,78,0.5) none repeat scroll 0% 0%;}
/*12*/

.f12-dingwei-1a{width:85px;height: 30px;background: #F885A4;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 31px;}
.f12-dingwei1{width:85px;height: 30px;line-height: 30px;position: absolute;left: 0;top:31px;}

.f12-dingwei-2a{width: 85px;height: 30px;background: #F885A4;line-height: 30px;opacity: 0.6;position: absolute;left: 86px;top: 31px;}
.f12-dingwei2{width: 85px;height: 30px;line-height: 30px;position: absolute;left:86px;top: 31px;}

.f12-dingwei1 a{font-size: 12px;color: #fff}
.f12-dingwei1:hover{background:rgba(246,106,151,0.5) none repeat scroll 0% 0%;}
.f12-dingwei2 a{font-size: 12px;color: #fff}
.f12-dingwei2:hover{background:rgba(246,106,151,0.5) none repeat scroll 0% 0%;}
/*13*/

.f13-dingwei-1a{width:85px;height: 30px;background: #67AEFC;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 31px;}
.f13-dingwei1{width:85px;height: 30px;line-height: 30px;position: absolute;left: 0;top:31px;}

.f13-dingwei-2a{width: 85px;height: 30px;background: #67AEFC;line-height: 30px;opacity: 0.6;position: absolute;left: 86px;top: 31px;}
.f13-dingwei2{width: 85px;height: 30px;line-height: 30px;position: absolute;left:86px;top: 31px;}

.f13-dingwei1 a{font-size: 12px;color: #fff}
.f13-dingwei1:hover{background:rgba(93,155,224,0.5) none repeat scroll 0% 0%;}
.f13-dingwei2 a{font-size: 12px;color: #fff}
.f13-dingwei2:hover{background:rgba(93,155,224,0.5) none repeat scroll 0% 0%;}
/*14*/
.f14-dingwei-1a{width:85px;height: 30px;background: #4EC9CC;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 31px;}
.f14-dingwei1{width:85px;height: 30px;line-height: 30px;position: absolute;left: 0;top:31px;}

.f14-dingwei-2a{width: 85px;height: 30px;background: #4EC9CC;line-height: 30px;opacity: 0.6;position: absolute;left: 86px;top: 31px;}
.f14-dingwei2{width: 85px;height: 30px;line-height: 30px;position: absolute;left:86px;top: 31px;}

.f14-dingwei1 a{font-size: 12px;color: #fff}
.f14-dingwei1:hover{background:rgba(32,188,187,0.5) none repeat scroll 0% 0%;}
.f14-dingwei2 a{font-size: 12px;color: #fff}
.f14-dingwei2:hover{background:rgba(32,188,187,0.5) none repeat scroll 0% 0%;}
/*15*/

.f15-dingwei-1a{width:170px;height: 30px;background: #4F82D2;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 31px;}
.f15-dingwei1{width:170px;height: 30px;line-height: 30px;position: absolute;left: 0;top:31px;}
.f15-dingwei1 a{font-size: 12px;color: #fff}
.f15-dingwei1:hover{background:rgba(31,100,195,0.5) none repeat scroll 0% 0%;}
/*16*/

.f16-dingwei-1a{width:170px;height: 30px;background: #93C64A;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 31px;}
.f16-dingwei1{width:170px;height: 30px;line-height:
 30px;position: absolute;left: 0;top:31px;}
.f16-dingwei1 a{font-size: 12px;color: #fff}
.f16-dingwei1:hover{background:rgba(125,185,25,0.5) none repeat scroll 0% 0%;}
/*17*/

.f17-dingwei-1a{width:170px;height: 30px;background: #B07F47;line-height: 30px;opacity: 0.6;position: absolute;left: 0;top: 31px;}
.f17-dingwei1{width:170px;height: 30px;line-height: 30px;position: absolute;left: 0;top:31px;}
.f17-dingwei1 a{font-size: 12px;color: #fff}
.f17-dingwei1:hover{background:rgba(164,97,18,0.5) none repeat scroll 0% 0%;}
/*18*/
.f18-top{width: 1190px;height: 38px;margin:0 auto;line-height: 38px;}
.f18-top h3{float: left;}
.f18-top a{margin: 0px 9px 0px 0px;color: #333;;float: right;font-size: 12px;}
/*18 bottom*/
.f18-bottom{width: 1188px;height: 257px;margin: 0 auto;border: 1px solid #F0F0F0;}
.f18-bottom-1{float: left;width:187px;height: 198px;padding: 0px 5px;border-right: 1px solid #EEE;display: inline;}
.f18-bottom-1 a{font-size: 12px;color: #666;margin-top: 19px;display: block;padding-left: 14px;float: left;width: 173px;}
.f18-bottom-1 span{height: 25px;font-size: 21px;font-weight: bold;width: 173px;padding-left: 14px;float: left;}
.f18-bottom-tu1{width: 187px;height: 120px;display: inline;}
.f18-bottom-tu1 img{width: 150px;height: 150px;margin-left: 4px;}
.f18-bottom-1 a:hover{text-decoration:underline #f60;color: #f60}
/*19*/
.f19{width: 1190px;height: 353px;margin :0 auto;}
.f19-top{width: 1190px;height: 35px;margin: 0 auto;line-height: 35px;}
/*19 bottom*/
.f19-bottom{width: 1190px;height: 318px;}
.f19-bottom-left{width: 188px;height:316px;float: left;border: 1px solid #EEE;}
.f19-bottom-left1{width: 188px;height: 28px;background: #fa0;font-size: 14px;}
.f19-bottom-left1 a{padding-left: 14px;color: #fff;line-height: 28px;float: left;}
.f19-bottom-left1 p{float: right;color: #fff;line-height: 28px;margin-right: 14px;display: inline;}
.f19-bottom-left1 a:hover{text-decoration: underline #fff;}
.f19-bottom-left2{width: 188px;height: 270px;}
.f19-bottom-left2-1{width: 54px;height: 65px;float: left;margin-top: 22px;padding: 0px 20px;text-align: center;cursor: pointer;}
.f19-bottom-left2-1 a{font-size: 12px;color: #666;line-height: 65px;}
.f19-bottom-left2-1 a:hover{color:#fa0}




.f19-bottom-right{width: 1000px;height:318px;float: left;}
.f19-bottom-right1{width: 1000px;height: 299px;}
.f19-bottom-right-middle{float: left;width: 580px;height: 289px;padding: 9px 10px 0px;overflow: hidden;}
.f19-bottom-right-middle-tu{width: 390px;height: 280px;float: left;}
.f19-bottom-right-middle-zi{width: 177px;height: 271px;float: right;}
.f19-bottom-right-middle-zi h4{font-size: 14px;color: #000}

.f19-redu{width: 177px;height: 242px;float: left;margin-top: 8px;}
.f19-redu-1{width: 177px;height: 18px;margin-bottom: 14px;font-size: 0px;font-size: 12px;}
.f19-redu-1 span{color: #999;}
.f19-redu-1 a{color: #333}
.f19-redu-1 a:hover{color: #fa0;text-decoration: underline #fa0;}
/*f19-bottom-right*/
.f19-bottom-right-right{width: 379px;height: 316px;padding-left: 20px;float: left;}
.f19-bottom-right-right h4{color: #333;line-height: 36px;height: 36px;}
.f19-shaidan{width: 379px;height: 255px;}
.f19-shaidan1{width: 170px;height: 255px;display: inline;float: left;margin-right: 15px;}
.f19-tu1{width: 170px;height: 170px;position: relative;}

.f19-dingwei1{width: 170px;height: 30px;background: #000;position: absolute;bottom: 0;left: 0;opacity: 0.6}
.f19-dingwei{width: 170px;height: 30px;position: absolute;bottom: 0;left: 0;}
.f19-dingwei a{line-height: 30px;font-size:12px;color: #fff}
.f19-dingwei a:hover{text-decoration: underline #fff;}

.f19-tu-pingjia{width: 170px;height: 73px;margin-top: 8px;}
.f19-tu-pingjia-a{width: 170px;height: 32px;}
.f19-tu-pingjia-a img{width: 32px;height: 32px;margin-right: 8px;float: left;}
.f19-tu-pingjia-a span{color: #333;display: block;line-height: 32px;float: left;}

.f19-tu-pingjia-b a{font-size: 12px;color: #333}
.f19-tu-pingjia-b a:hover{color: #fa0;text-decoration: underline #fa0;}
/*f20*/
.f20{width: 100%;height: 253px;background: #F5F5F5;border-top: 1px solid #E7E7E7;margin-top: 10px;}
.f20-nei{width: 1250px;height: 253px;margin:0 auto;}
.f20-nei{width: 1250px;height: 49px;padding: 12px 0px;border-bottom: 1px solid #EAEAEA;}

.f20-nei1{width: 250px;height: 48pxfloat: left;display: inline;}
.zhengpin{float: left;width: 48px;height: 48px;background: transparent url("../img/beijing.png") no-repeat scroll 0% 0%;margin-right: 8px;}

.zhengpin1{width: 180px;height: 48px;;float: left;}
.zhengpin1 a{line-height: 24px;width: 100%;color: #333;font-size: 14px;font-weight: 700;display: block;}
.zhengpin1 a:hover{color: #fa0;text-decoration: underline #fa0;}
.zhengpin1 span{line-height: 24px;width: 100%;color: #545454;font-size: 12px}
/*2*/
.zhengpin2{float: left;width: 48px;height: 48px;background: transparent url("../img/beijing.png") no-repeat scroll 0% 0%;margin-right: 8px;background-position: -48px 0px;}
/*3*/
.zhengpin3{float: left;width: 48px;height: 48px;background: transparent url("../img/beijing.png") no-repeat scroll 0% 0%;margin-right: 8px;background-position: -96px 0px;}
/*4*/
.zhengpin4{float: left;width: 48px;height: 48px;background: transparent url("../img/beijing.png") no-repeat scroll 0% 0%;margin-right: 8px;background-position: -144px 0px;}

.zhengpin5{float: left;width: 48px;height: 48px;background: transparent url("../img/beijing.png") no-repeat scroll 0% 0%;margin-right: 8px;background-position: -191px 0px;}
/*下左*/
.f20-left{width: 1250px;height: 180px;margin: 0 auto;}
.f20-left-a{width: 1050px;height: 180px;float: left;}
.f20-left-b{width: 90px;height: 180px;float: left;}

.f20-left-a-1{width: 210px;height: 160px;float: left;}
 
.f20-left-a-1 dt{line-height: 40px;font-weight: 700;color: #545454;height: 35px;font-size: 14px;overflow: hidden;}

.f20-daogou a{line-height: 22px;font-size: 12px;color:#545454;display: block;}
.f20-daogou a:hover{color: #f60;text-decoration: underline #f60;}
.f20-gouwu1{line-height: 40px;font-weight: 700;color: #545454;height: 35px;font-size: 14px;overflow: hidden;float: left;display: block;}
.f20-left-b img{float: left;}
/*21*/
.f21{width: 100%;height: 125px;background: #33302B;}
.f21-nei{width: 1250px;height: 125px;background: #33302B;margin: 0 auto;}
.f21-nei-left{width: 850px;height: 125px;float: left;}
.f21-nei-right{float: left;width: 390px;height: 100px;margin-top: 10px;float: left;}
.f21-nei-left1{padding: 0px 50px;width: 324px;margin-top: 12px;border-right: 1px solid #8D8D8D;height: 100px;float: left;}

.f21-nei-left1 dt{float: left;height: 80px;width: 80px;margin-right: 20px;margin-top: 5px;}
.f22-zhengqi:hover{text-decoration: underline;}

.f22-zhengqi{line-height: 25px;font-size: 14px;font-weight: 700;color: #eee;display: block;}
.f22-zhengqi1{line-height: 18px;font-size: 12px;color: #fff}

.f21-nei-right dt{float: left;height: 94px;width: 140px;margin-top: 3px;background: transparent url(../img/beijing.png) no-repeat scroll 0px -50px;}

.f21-nei-right a{display: block;height: 25px;width: 105px;margin-top: 5px;overflow: hidden;background: transparent url("../img/beijing.png") no-repeat scroll -140px -49px;background-position: -140px -74px;}
/*f23*/
.f23{width: 100%;height: 135px;background: #33302B}
.f23-nei{width: 1120px;height: 120px;background: #33302B;margin:0 auto;padding-top: 15px;}
.f23-nei1{width: 1190px;height: 25px;background: #33302B}
.f23-nei1 a{color: #F9F9F9;line-height: 25px;font-size: 12px;}
.f23-nei1 a:hover{text-decoration: underline;}
.f23-nei1 span{color: #888;padding: 0px 8px;line-height: 25px;font-size: 12px;}


.f23-nei1{margin-right: 8px;}








